{{outlet}}
<div id="canvas" style="">{{node-graph nodes=model
            createTransitionAction='openModal'
            nodeSelectedAction='nodeSelected' 
            transitionSelectedAction='transitionSelected'
            nodeMovedAction='nodeMoved'
            contentTypes='linkableContentTypes'
            }}
 </div>                        