/* Vocabulary Styles */
#vocab-list {
	margin: 0 0 0.5em 1.0em;
	padding: 1.0em 0 0 0;
	list-style: none;
}

#vocab-list li {
	position: relative;
	font-size: 22px;
	border-bottom: 1px dotted #ccc;
}

#new-vocab {
	position: relative;
	margin: 0 0 0.5em 0;
	width: 20.0em;
	font-size: 24px;
	font-family: inherit;
	line-height: 1.4em;
	border: 0;
	outline: none;
	color: inherit;
	padding: 6px;
	
	border: 1px solid #999;
	box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

